<!DOCTYPE html> 
<html class="no-js ui-mobile-rendering" lang="en"> 
<head> 
	<title>CMS Report Viewer</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/libs/vendors/mocha/mocha.css" />
	<script data-main="/mrv/assets/js/testboot" src="/public/libs/vendors/require.js"></script>	
</head> 
<body>
	 <div id="mocha"></div>
</body>
</html>