<!DOCTYPE html>
<html>
  <head>
    <title>demo</title>
  </head>
  <body>
		<form enctype="multipart/form-data" action="fileupload" method="post">
			<input type="file" name="filecontainer" id = "filecontainer"/>
			<input type="submit" value="upload">		
		</form>

  </body>
</html>
