#listdiv
{
	margin:1% 1% 0% 1%;
}
#morediv
{
	margin:0% 1% 0% 1%;
}

#logout-icon  .ui-icon{ background:  url("../icon library/logout_btn_icon.png") 50% 50% no-repeat; background-size: 18px 18px; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important;-webkit-border-radius: 0 !important; border-radius: 0 !important;}

.nav-custom .ui-btn .ui-btn-inner { padding-top: 33px !important; }
.nav-custom .ui-btn .ui-btn-text { font-size: 11px !important;text-align:bottom !important;}
.nav-custom .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#findplayer  .ui-icon{background:  url("../icon library/find_btn.png") 50% 50% no-repeat; background-size: 28px 28px;}
#about  .ui-icon{background:  url("../icon library/help_btn.png") 50% 50% no-repeat; background-size: 28px 28px;}
#history  .ui-icon{background:  url("../icon library/history.png") 50% 50% no-repeat; background-size: 28px 28px;}

.playerid {color:#4A7CAF; font-size:20px;}

.cplayerid{width:20%;color:#4A7CAF; font-size:20px;text-align:left;}
.cname{width:80%;font-size:20px;text-align:left;color:#4A7CAF;}

.ctab{width:100%}
.cphone{width:20%;color:#6C6C6C;text-align:left;}
.ccountry{width:20%;color:#6C6C6C;text-align:left;}
.cstate{width:20%;color:#6C6C6C;text-align:left;}
.cbir{width:40%;color:#6C6C6C;text-align:left;}
.cicon{width:15px;height:15px;text-align:left;}


.leftimg{width:80px;height:80px;}
.titlediv{margin:0;padding:0;display: inline-block;vertical-align: top;}
