<link rel="stylesheet" href="/mcm/assets/css/issuemarker-style.css" />
<link rel="stylesheet" href="/public/css/jquery.mobile.simpledialog.min.css" />
<div id="myheader" data-role="header" data-theme="b" data-tap-toggle="false" class="ui-header ui-bar-b">
        <a data-role="button" class="ui-btn-left" id="back" data-icon="back"><%=ui_back%></a>
        <h1 class="ui-title" role="heading"><%=ui_issuemarker%></h1>
        <a data-role="button" class="ui-btn-right" data-transition="fade" id="logout-icon" data-icon="custom"><%=username%></a>
</div>

<div id="titlebar" data-filter="false" data-ajax="false">

    <table width='100%'>
    <tr>
        <td align='left'><img id="marker" src="/mcm/assets/images/marker.png"></td>
        <td align='left' width='70%'><table align="left"><tr><td align="left"><b>Marker</b></td></tr><tr><td align="left">Create a marker for this player account.</td></tr></table></td>
        <td align='right' width='30%'><b><%=player%></b></td>
    </tr>
    </table>

</div>

<div>
    <p style="color:black;margin-bottom:1px;"><b>Exchange Information</b></p>
    <div style="margin-left:5px;margin-right:5px;margin-bottom:10px;">
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain" class="fc">
                <label class="input-label-custom" for="currency"><b>Currency:</b></label>
                <select id="currency" name="currency" data-role="none" class="clselect" data-native-menu="true">
                    <% _.each(currencyconfig.toJSON(), function(cc){%>
                    <option value=<%=cc.CurrencyID%> >(<%=cc.ISOCode%>)<%=cc.CurrencyName%></option>
                    <%});%>
                </select>
            </li>
        </ul>
    </div>
    <p style="color:black;margin-bottom:1px;"><b>Transaction Information</b></p>
    <div style="margin-left:5px;margin-right:5px;margin-bottom:10px;">
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain" class="fc">
                <label for="bank" class="input-label-custom"><b>Bank:</b></label>
                <select id="bank" name="bank" data-role="none" class="clselect" data-native-menu="true">
                    <% _.each(fundinfo.toJSON(), function(fi){%>
                    <option value=<%=fi.fundid%>><%=fi.description%></option>
                    <%});%>
                </select>                
            </li>
            <li data-role="fieldcontain" class="fc">
                <label class="input-label-custom" for="amount"><b>Amount:</b></label>
                <input data-role="none" class="input-custom" name="amount" id="amount" placeholder="" value="" type="text" />       
            </li>
            <li>
                <table width="100%">
                    <tr width="100%">
                        <td width="50%">
                            <table width="100%">
                                <tr width="100%">
                                    <td width="50%">
                                        <label class="input-label-custom" for="availablelimit"><b>AvailableLimit</b></label>
                                    </td>
                                    <td width="50%">
                                        <input data-role="none" class="input-custom" name="availablelimit" id="availablelimit" placeholder="" value="<%=availablelimit%>" type="text" style="color:#ff0000;" disabled/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <table width="100%">
                                <tr width="100%">
                                    <td width="50%">
                                        <label id="lblconvertamount" class="input-label-custom" for="convertamount" style="display:none"><b>ConvertAmount</b></label>
                                    </td>
                                    <td width="50%">
                                        <input data-role="none" class="input-custom" name="convertamount" id="convertamount" placeholder="" value="<%=convertamount%>" type="text" style="color:#ff0000;display:none" disabled/>
                                    </td>
                                </tr>
                            </table>
                            
                              
                        </td>
                    </tr>
                </table>
                      
                
            </li>
        </ul>
    </div>
    <p style="color:black;margin-bottom:1px;"><b>Paid to Player</b></p>
    <div style="margin-left:5px;margin-right:5px;">
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain" class="fc">
                <label for="currency_paid" class="input-label-custom"><b>Currency:</b></label>
                <select id="currency_paid" name="currency_paid" data-role="none"  class="clselect" data-native-menu="true">
                    <% _.each(currencyconfigpaidto.toJSON(), function(ccp){%>
                    <option value=<%=ccp.CurrencyID%> >(<%=ccp.ISOCode%>)<%=ccp.CurrencyName%></option>
                    <%});%>
                </select>                
            </li>
            <li data-role="fieldcontain" class="fc">
                <label for="chips" class="input-label-custom"><b>Chips:</b></label>
                <input data-role="none" class="input-custom" name="chips" id="chips" placeholder="" value="" type="text" />               
            </li>
            <li data-role="fieldcontain" class="fc">
                <label for="cash" class="input-label-custom"><b>Cash:</b></label>
                <input data-role="none" class="input-custom" name="cash" id="cash" placeholder="" value="" type="text" />               
            </li>
            <li data-role="fieldcontain" class="fc">
                <label for="tokens" class="input-label-custom"><b>Tokens:</b></label>
                <input data-role="none" class="input-custom" name="tokens" id="tokens" placeholder="" value="" type="text" />               
            </li>
        </ul>
    </div>
    <div  style="margin-left:5px;margin-right:5px;margin-top:10px;">
        <input id="btn-login" type="submit" data-theme="b" data-icon="forward" data-iconpos="left" value="OK"/>
    </div>
</div>

<div data-role="footer" data-position="fixed" class="nav-custom ui-footer-fixed ui-bar-b slideup" date-id="myfooter" data-theme="b" data-tap-toggle="false">
    <div data-role="navbar"  data-iconpos="top">
        <ul>
            <li>
		<a class="nav-custom" data-transition="slide" id="findplayer" data-icon="custom">
                    <%=ui_findplayer%>
                </a>
            </li>
            <li>
                <a class="nav-custom" data-transition="slide" id="history"  data-icon="custom">
                    <%=ui_browinghistory%>
                </a>
            </li>
			<li>
                <a class="nav-custom" data-transition="slide" id="about"  data-icon="custom">
                    <%=ui_about%>
                </a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    