
<div data-role="header"  data-position="fixed" data-theme="b" data-tap-toggle="false" class="ui-header ui-bar-b  header">  
        <div id="back-title-panel">
        <span id="page-title">Hongkong Junket Company</span></div>
</div>
<div class="clear"></div>

<div style="text-align: center;">
	<div id="player-credit-info">	
		<ul data-role="listview">
            <li data-role="fieldcontain">
			<div style="display: inline-block; vertical-align:top"><img src="./assets/images/Cindy_img.png" width="80px;">
				<div style="display: inline-block;">
					<label width="200px;" for="player-fixed-credit"><b>Tom Tang</b></label><br>								
					<input data-role="none" class="input-custom" value="Credit: $10,000    TTO: $350,000 (05/Aug/2014)" type="text" disabled="true" />									
					<div><img src="./assets/images/junket_creidt_1.png" height="15px" width="100px" /></div>    
				</div>				
			</div>			
		   </li>  
        </ul>
        <ul data-role="listview">
            <li data-role="fieldcontain">			
                <div style="display: inline-block; vertical-align: top"><img src="./assets/images/Jack_img.png" width="80px;">
					<div style="display: inline-block;">
						<label width="200px;" for="player-fixed-credit"><b>Vicky Wense</b></label><br>								
						<input data-role="none" class="input-custom" value="Credit: $4,000    TTO: $320,000 (05/Aug/2014)" type="text" disabled="true" />						
						<div><img src="./assets/images/junket_creidt_2.png" height="15px" width="150px" /></div>    
					</div>				
				</div>			
			</li>  
		</ul>	
		<ul data-role="listview">
            <li data-role="fieldcontain">			
                <div style="display: inline-block; vertical-align: top"><img src="./assets/images/John_img.png" width="80px;">
					<div style="display: inline-block;">
						<label width="200px;" for="player-fixed-credit"><b>John Johnson</b></label><br>										
						<input data-role="none" class="input-custom" value="Credit: $6,000    TTO: $100,000 (18/Jun/2014)" type="text" disabled="true" />						
						<div><img src="./assets/images/junket_creidt_3.png" height="15px" width="180px" /></div>    
					</div>				
				</div>				
			</li>  
		</ul>
		<div>
		<div style="display: inline-block; vertical-align: bottom; height:200px;">
			<label width="200px;" for="player-fixed-credit"><b>Summary: Total Credit: $20,000  Total TTO: $350,000  </b></label><br>
		</div>
</div>

<div data-role="footer" data-position="fixed" class="nav-custom ui-footer-fixed ui-bar-b slideup" date-id="page-footer" data-theme="b" data-tap-toggle="false" id="page-footer">
    <div data-role="navbar">
        <ul>
            <li>
                <a data-role="button" data-theme="none" data-corners="true" data-shadow="false" data-inline="true" id="junket-credit">
                    <img src="./assets/images/junket_credit.png" />
                    <span><%= ui_junketcredit %></span> </a>
            </li>
            <li>
                <a data-role="button" data-theme="none" data-corners="true" data-shadow="false" data-inline="true" id="player-credit" class="ui-btn-active ui-state-persist">
                    <img src="./assets/images/player_credit.png" alt="Picture" />
                    <span><%= ui_playercredit %></span> </a>
            </li>
            <li>
                <a data-role="button" data-theme="none" data-corners="true" data-shadow="false" data-inline="true" id="me">
                    <img src="./assets/images/me.png" alt="Picture"/>
                    <span><%= ui_me %></span> </a>
            </li>
        </ul>
    </div>
</div>